.benchmark-track {
  display: flex;
  height: 42px;
  padding: 0 1rem;
  .benchmark-track-details {
    background-color: white;
    width: 100%;
    display: flex;

    .album-art {
      position: relative;
      min-height: 42px;
      min-width: 42px;
      img {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }

    .details {
      align-self: center;
      padding: 0 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      > div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}