@import '../../bootstrap/bootstrap';

tr.track {
  transition: background-color 0.2s;
  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
    &.album-art {
      img {
        max-height: 42px;
        max-width: 42px;
      }
    }
    &.buttons {
      .delete-track {
        float: right;
        display: flex;
        height: 42px;
        width: 42px;
        transition: color 0.2s;
        color: $gray-600;
        &:hover {
          cursor: pointer;
          color: $danger;
        }
        svg {
          align-self: center;
          margin: 0 auto;
        }
      }
    }
  }
}