@import '../../bootstrap/bootstrap';

.card.playlist {
  .card-body {
    padding: 0;
    table {
      table-layout: fixed;
      margin-bottom: 0;
      th {
        border-top: none;
        &.album-art {
          width: calc(42px + 1rem)
        }
        &.buttons {
          width: calc(42px + 1rem)
        }
      }
      border-bottom: 1px solid #dee2e6;
    }
    .export {
      button {
        width: auto;
        margin: 0 auto;
        background-color: #1DB954;
        border-color: #1DB954;
      }
    }
  }
}